@model _23DH114456_MyStore.Models.ViewModel.HomeProductVM
@{
    ViewBag.Title = "SHOP Nội Thất";
    <link rel="stylesheet" type="text/css" href="~/Content/myStyle/CustomerHome.css" />
}

@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<style type="text/css">
    .text-img{
        padding-top:120px;
        padding-left:300px;
    }
</style>
@* PHẦN BANNER *@
<section class="container-fluid banner">
    <div class="banner-container">
            <div class="text-img">
                <p style="display:inline;font-size:100px;color:white;font-weight:1000;background-color:grey;">Phòng bếp</p>
                <p style="font-size:70px;margin-top:-5px;margin-right:750px;color:white;background-color:grey">mơ ước của bạn</p>
            </div>
        </div>
</section>
@* PHẦN TÌM KIẾM SẢN PHẨM *@
<section class="container-fluid searchProd">
    <h2>Tìm kiếm sản phẩm</h2>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <div class="form-group search-container">
            @Html.TextBoxFor(m => m.SearchTerm, new
       {
           @class = "search-input",
           placeholder = "Nhập tên, mô tả hoặc chủng loại sản phẩm"
       })
            <button type="submit" class="search-button">Tìm kiếm</button>
        </div>
    }

</section>
<hr/>

@*PHẦN SẢN PHẨM NỔI BẬT*@
@Html.Partial("_PVFeatureProduct", Model)

@*PHẦN SẢN PHẨM MỚI *@
@Html.Partial("_PVNewProduct", Model)